<!DOCTYPE html> {% load staticfiles %}
<html lang="en">

<head>
    <title>Hello World</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div class="outer-container">
        <header class="site-header">
            <div class="top-header-bar">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6 flex align-items-center">
                            <div class="header-bar-text d-none d-lg-block">
                                <p>Hello world, My name is John</p>
                            </div>
                            <!-- .header-bar-text -->

                            <div class="header-bar-email d-none d-lg-block">
                                <a href="#">Contact me: johncuthpert.magbanua@gmail.com</a>
                            </div>
                            <!-- .header-bar-email -->
                        </div>
                        <!-- .col -->

                        <div class="col-12 col-lg-6 flex justify-content-between justify-content-lg-end align-items-center">
                            <div class="header-bar-social d-none d-md-block">
                                <ul class="flex align-items-center">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                            <!-- .header-bar-social -->

                            <div class="header-bar-search d-none d-md-block">
                                <form>
                                    <input type="search" placeholder="Search">
                                </form>
                            </div>
                            <!-- .header-bar-search -->
                        </div>
                        <!-- .col -->
                    </div>
                    <!-- .row -->
                </div>
                <!-- .container-fluid -->
            </div>
            <!-- .top-header-bar -->

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="site-branding flex flex-column align-items-center">
                            <h1 class="site-title"><a href="index.html" rel="home">John</a></h1>
                            <p class="site-description">Personal Blog</p>
                        </div>
                        <!-- .site-branding -->

                        <nav class="site-navigation">
                            <div class="hamburger-menu d-lg-none">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <!-- .hamburger-menu -->

                            <ul class="flex-lg flex-lg-row justify-content-lg-center align-content-lg-center">
                                <li class="current-menu-item"><a href="/">Home</a></li>
                                <li><a href="/about">About Me</a></li>
                                <li><a href="/contact">Contact</a></li>
                            </ul>

                            <div class="header-bar-search d-md-none">
                                <form>
                                    <input type="search" placeholder="Search">
                                </form>
                            </div>
                            <!-- .header-bar-search -->
                        </nav>
                        <!-- .site-navigation -->
                    </div>
                    <!-- .col -->
                </div>
                <!-- .row -->
            </div>
            <!-- .container -->
        </header>
        <!-- .site-header -->

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="swiper-container hero-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="hero-content flex justify-content-center align-items-center flex-column">
                                    <img src="images/slider.jpg" alt="">
                                </div>
                                <!-- .hero-content -->
                            </div>
                            <!-- .swiper-slide -->

                            <div class="swiper-slide">
                                <div class="hero-content flex justify-content-center align-items-center flex-column">
                                    <img src="images/slider.jpg" alt="">
                                </div>
                                <!-- .hero-content -->
                            </div>
                            <!-- .swiper-slide -->

                            <div class="swiper-slide">
                                <div class="hero-content flex justify-content-center align-items-center flex-column">
                                    <img src="images/slider.jpg" alt="">
                                </div>
                                <!-- .hero-content -->
                            </div>
                            <!-- .swiper-slide -->
                        </div>
                        <!-- .swiper-wrapper -->

                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>

                        <!-- Add Arrows -->
                        <div class="swiper-button-next flex justify-content-center align-items-center">
                            <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 44"><path d="M27,22L27,22L5,44l-2.1-2.1L22.8,22L2.9,2.1L5,0L27,22L27,22z"></path></svg></span>
                        </div>
                        <div class="swiper-button-prev flex justify-content-center align-items-center">
                            <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 44"><path d="M0,22L22,0l2.1,2.1L4.2,22l19.9,19.9L22,44L0,22L0,22L0,22z"></path></svg></span>
                        </div>
                    </div>
                    <!-- .swiper-container -->
                </div>
                <!-- .col -->
            </div>
            <!-- .row -->

            <div class="container">
                <div class="row">
                    <div class="offset-lg-9 col-12 col-lg-3">
                        <a href="#">
                            <div class="yt-subscribe">
                                <img src="{% static 'images/yt.png'%}" width="100px" height="100px" alt="Youtube Subscribe">
                                <h3>Subscribe</h3>
                                <p>To my Youtube Channel</p>
                            </div>
                            <!-- .yt-subscribe -->
                        </a>
                    </div>
                    <!-- .col -->
                </div>
                <!-- .row -->
            </div>
            <!-- .container -->
        </div>
        <!-- .hero-section -->

        <div class="container single-page">
            <div class="row">
                <div class="col-12 col-lg-9">
                    <div class="content-wrap">

                        {% for post in posts %}

                        <header class="entry-header">
                            <div class="posted-date">
                                {{post.published_date}}
                            </div>
                            <!-- .posted-date -->

                            <h2 class="entry-title">{{post.title}}</h2>

                            <div class="tags-links">
                                <a href="#">#winter</a>
                                <a href="#">#love</a>
                                <a href="#">#snow</a>
                                <a href="#">#january</a>
                            </div>
                            <!-- .tags-links -->
                        </header>
                        <!-- .entry-header -->
                        <figure class="featured-image">
                            <img src="images/1.jpg" alt="">
                        </figure>
                        <!-- .featured-image -->

                        <div class="entry-content">
                            <p>{{post.text|linebreaksbr}}</p>
                        </div>
                        <!-- .entry-content -->

                        <footer class="entry-footer flex flex-column flex-lg-row justify-content-between align-content-start align-lg-items-center">
                            <ul class="post-share flex align-items-center order-3 order-lg-1">
                                <label>Share</label>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                            <!-- .post-share -->

                            <a class="read-more order-2" href="#">Read more</a>

                            <div class="comments-count order-1 order-lg-3">
                                <a href="#">2 Comments</a>
                            </div>
                            <!-- .comments-count -->
                        </footer>
                        <!-- .entry-footer -->
                    </div>
                    <!-- .content-wrap -->

                    <div class="content-wrap">
                    {% endfor %}

                        

                
    <script type='text/javascript' src='js/jquery.js'></script>
    <script type='text/javascript' src='js/swiper.min.js'></script>
    <script type='text/javascript' src='js/custom.js'></script>

</body>

</html>