{% load staticfiles %}
<html>
	<head>
		<title>My Blog</title>
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
	</head>
	<body>
		<h1>Hello World</h1>
		{% for post in posts %}
			<div>
        		<h1>{{ post.title }}</h1>
        		<p>published: {{ post.published_date }}</p>
        		<p>{{ post.text|linebreaksbr }}</p>
    		</div>
		{% endfor %}
	</body>
</html>
